<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="diego.example.com.prestamitos" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="diego.example.com.prestamitos.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLista"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="diego.example.com.prestamitos.CreateEditActivity"
            android:label="@string/title_activity_create_edit" >
        </activity>
    </application>

</manifest>
